{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/heroes/hero-detail.css' %}"
/>
<script defer src="{% static 'js/hero-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="hero-container">
  <div class="hero-img">
  </div>
  <div class="hero-details">
    <h1>{{ hero.name }}</h1>
    {% if hero.age > 0 %}
      <h2>A {{ hero.age }} year old hero with the power of {{ hero.power }}</h2>
    {% else %}
      <h2>A {{ hero.power }} powered hero.</h2>
    {% endif %}
    <p>{{ hero.description }}</p>
    <div class="hero-actions">
      <a href="{% url 'hero-update' hero.id %}" class="btn warn">Edit</a>
      <a href="{% url 'hero-delete' hero.id %}" class="btn danger">Release</a>
    </div>
  </div>
</section>
<div class="trainings-workout-container">
  <section class="trainings">
    
    <div class="subsection-title">
      <h2>Trainings</h2>
    </div>
    <h3>Add a Training</h3>
    <form
      action="{% url 'add-training' hero.id %}"
      method="post" 
      class="subsection-content"
			autocomplete="off"
    >
      {% csrf_token %}
      {% if hero.training_for_today %}
        <p class="train">{{hero.name}} has done enough training for today!</p>
      {% else %}
        <p class="untrain">{{hero.name}} might be missing out on workouts!</p>
      {% endif %}
      {{ training_form.as_p }}
      <button type="submit" class="btn submit">Add Training</button>
    </form>
    <h3>Past Trainings</h3>
    {% if hero.training_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Activity</th></tr>
        </thead>
        <tbody>
          {% for training in hero.training_set.all %}
            <tr>
              <td>{{training.date}}</td>
              <td>{{training.get_activity_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
			<div class="subsection-content">
        <p>{{hero.name}} has not trained for today 😔</p>
      </div>
    {% endif %}
  </section>
  <section class="workouts">
    <div class="subsection-title">
      <h2>Workouts</h2>
    </div>
    <h3>{{ hero.name }}'s Workouts</h3>
    <div class="subsection-content">
      {% if hero.workouts.count %}
        {% for workout in hero.workouts.all %}
          <div class="workout-container">
            <div 
              class="color-block"
              style="background-color: {{ workout.weight }}"
            ></div>
            <a href="{% url 'workout-detail' workout.id %}">
              <p>A {{ workout.weight }} lb  {{ workout.name }} Workout</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-workouts">{{hero.name}} doesn't have any workouts 😞</p>
      {% endif %}
    </div>
    <h3>Available Workouts</h3>
    <div class="subsection-content">
      {% if workouts.count %}
        {% for workout in workouts.all %}
          <div class="workout-container">
            <div 
              class="color-block"
              style="background-color: {{ workout.weight }}"
            ></div>
            <a href="{% url 'workout-detail' workout.id %}">
              <p>A {{ workout.weight }} {{ workout.name }}</p>
            </a>
            <form action="{% url 'assoc-workout' hero.id workout.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give workout</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-workouts">
          {{hero.name}} already has all the available workouts 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>
    </div>
  </section>
</div>
</div>

{% endblock %}